.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #555555;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #777777;
    margin-bottom: 30px;
  }
  
  .formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    font-size: 1rem;
    color: #333333;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #43b3fb;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #1a91ff;
  }
  