.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .label {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-style: italic;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgba(0, 255, 255, 0.8);
  }
  
  .linkGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;

  }
